@font-face {
	font-family:'Nunito Var';
	src:url('/static/Nunito.var.woff2') format('woff2-variations');
  font-display:swap;
  font-weight: 200 1000;
}
*, *::before, *::after {
  box-sizing:border-box;
}
* {
  margin:0;
}
input, button, textarea, select {
  font:inherit;
}
img, picture, video, canvas, svg {
  display:block;
  max-width:100%;
}
html {
  font-family:'Nunito Var', sans-serif;
  height:100%;
  font-size:16px;
}
@media screen and (min-width:640px) {
  html {
    font-size:18px;
  }
}
body {
  line-height:1.5;
  color:#222;
  display:grid;
  height:100%;
  grid-template-rows:1fr auto;
  background:#fff no-repeat 0% 0% / 100% .7rem linear-gradient(120deg, #ffffe3 20%, #ddfffc 20%, #ddfffc 40%, #e2eeff 40%, #e2eeff 60%, #f2e2ff 60%, #f2e2ff 80%, #ffdef2 80%, #ffdef2 100%);
  tab-size:4;
}
h1, h2, h3, h4, h5, h6 {
  line-height:1.25;
  font-weight:600;
  overflow-wrap:break-word;
  letter-spacing:-.025em;
  margin:1.75rem 0 .75rem;
}
h1 {
  font-size:2.986rem
}
h2 {
  font-size:2.488rem
}
p {
  margin:.75rem 0;
  font-weight:400;
  overflow-wrap:break-word;
}
a {
  color:inherit;
  text-decoration:underline;
  text-decoration-color:#aaa;
  text-underline-offset:.15em;
}
a:hover {
  text-decoration-thickness:2px;
}
ol, ul {
  margin:0 0 0 1.5rem;
  padding-left:0;
}
li {
  margin:0 0 .25rem
}
::selection {
  background:#ffdac0;
}
footer {
  display:grid;
  grid-auto-flow:column;
  align-items:center;
  justify-content:center;
  white-space:pre-wrap;
  padding:.5rem 0;
  font-size:.833rem;
  color:#777;
}
@keyframes rotation {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(359deg);
  }
}
#footer-image:hover {
  animation:rotation .6s infinite linear;
  cursor:pointer;
}
